#homeImage img{
  width: 100%;
  position: absolute;
  top: -10px;
  z-index: -1;
  
}
li a{
  text-decoration: none;
  color:#999;
  z-index: 100;
}
li a:hover{
  color:white;
}
li a:active{
  background-color: black;
}
nav ul{
  display:flex;
  justify-content: space-around;
  padding: 15px;
}
nav{
  z-index: 100;
  background-color: rgba(00, 00, 00, .5);
  position: fixed;
  top:0;
  width:100%;
}
body{
  font-family: Open Sans, sans-serif;
  position: relative;
}
#logo{
  width: 30%;
}
#logoParent{
  position: absolute;
    top: 128px;
    text-align: center;
    width: 100%;
}
header{
  position: relative;
}
#homeImage{
  height: 702px;
}